body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: blue;
    transition: opacity 0.4s ease;
}

.input.active{
    display: none;
    opacity: 0;
    
}

.input{
    padding: 9px;
    width: 60%;
    height: 27px;
    opacity: 1;
}

.container i {
    
    font-size: 24px; 
    
 
}


.btn{
    height: 49px;
    width: 58px;
    position: relative;
    bottom: -5px;
    cursor: pointer;
   
}


